{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <!-- Meta tags for character encoding, compatibility, SEO -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- Favicon and shortcut icon -->
    <link rel="icon" href="{% static 'Static Home/images/Logo Two.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Static Home/images/favicon.png' %}" />

    <!-- Page title -->
    <title>میگو بازار || پنل پرورش میگو</title>

    <!-- Mobile responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/bootstrap.rtl.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/feather.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/magnific-popup.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/lc_lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/select.bootstrap5.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/dropzone.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/scrollbar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/datepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/flaticon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/rtl.css' %}" />
    <link rel="stylesheet" class="skin" type="text/css" href="{% static 'Static Home/css/skin-6.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Static Home/css/switcher.css' %}" />
  </head>

  <body data-anm=".anm">
    <div class="page-wraper">
      <!-- Header Section -->
      <header class="site-header header-style-3 mobile-sider-drawer-menu">
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
          <div class="main-bar">
            <div class="container-fluid clearfix">
              <!-- Logo -->
              <div class="logo-header">
                <div class="logo-header-inner logo-header-one">
                  <a href="{% url 'home' %}">
                    <img style="height: 70px; width: 140px;" src="{% static 'Static Home/images/Logo Two.png' %}" alt="Logo" />
                  </a>
                </div>
              </div>

              <!-- Mobile Toggle Button -->
              <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon-bar-first"></span>
                <span class="icon-bar icon-bar-two"></span>
                <span class="icon-bar icon-bar-three"></span>
              </button>

              <!-- Main Navigation -->
              <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
                <ul class="nav navbar-nav">
                  <li class="has-mega-menu"><a href="{% url 'home' %}">خانه</a></li>
                  <li><a href="{% url "about" %}">درباره ما</a></li>
                  <li><a href="{% url 'product' %}">محصولات</a></li>
                  <li><a href="{% url 'company' %}">شرکت های فعال</a></li>
                  <li><a href="">پرسش و پاسخ</a></li>
                  <li><a href="{% url "contact" %}">تماس با ما</a></li>
                </ul>
              </div>

              <!-- Header Right: Logout link -->
              <div dir="ltr" class="extra-nav header-2-nav">
                <div class="extra-cell">
                  <div class="header-nav-btn-section">
                    <div class="twm-nav-btn-left">
                      <a class="twm-nav-sign-up" href="{% url 'shrimp_dashboard_company_logout' %}">
                        <i class="fa fa-sign-out-alt"></i> خروج از سامانه
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="page-content">
        <!-- Banner with breadcrumb -->
        <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static 'Static Home/images/1.jpg' %});">
          <div class="overlay-main site-bg-white opacity-01"></div>
          <div class="container">
            <div class="wt-bnr-inr-entry">
              <div class="banner-title-outer">
                <h2 class="wt-title" style="margin-bottom: 10px;">پنل شرکت پرورش میگو</h2>
              </div>
              <ul class="wt-breadcrumb breadcrumb-style-2">
                <li><a href="{% url 'shrimp_dashboard_info' %}">پنل مدیریت</a></li>
                <li>محصولات ثبت شده</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Registered products listing section -->
        <div class="section-full p-t120 p-b90 site-bg-white bg-cover twm-ac-fresher-wrap" style="background-image:url({% static 'Static Home/images/pattern.jpg' %})">
          <div class="section-full p-t120 p-b90" style="margin-top: -80px;">
            <div class="container">
              <div class="row">
                <!-- Sidebar navigation -->
                <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">
                  <div class="side-bar-st-1">
                    <!-- Company logo preview -->
                    <div class="twm-candidate-profile-pic">
                      {% if company_logo %}
                        <img src="{{ company_logo }}" id="logoPreviewSidebar" alt="لوگو" />
                      {% else %}
                        <p>لوگو شرکت موجود نیست.</p>
                      {% endif %}
                    </div>

                    <!-- Sidebar menu -->
                    <div class="twm-mid-content text-center">
                      <a href="#" class="twm-job-title"></a>
                    </div>

                    <div class="twm-nav-list-1">
                      <ul>
                        <li><a href="{% url 'shrimp_dashboard_info' %}"><i class="fa fa-user"></i> اطلاعات شرکت</a></li>
                        <li><a href="{% url 'shrimp_dashboard_add_product' %}"><i class="fa fa-plus-square"></i> افزودن محصول</a></li>
                        <li class="active"><a href="{% url 'shrimp_dashboard_registered_products' %}"><i class="fa fa-list-ul"></i> محصولات ثبت‌شده</a></li>
                        <li><a href="{% url 'shrimp_dashboard_requests_list' %}"><i class="fa fa-clipboard-list"></i> درخواست‌ها</a></li>
                        <li><a href="{% url 'shrimp_dashboard_company_logout' %}"><i class="fa fa-sign-out-alt"></i> خروج</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Main content: Products table -->
                <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                  <div class="twm-right-section-panel site-bg-gray">
                    <div class="panel panel-default">
                      <div class="panel-heading wt-panel-heading p-a20">
                        <h4 class="panel-tittle m-a0" style="font-family: rubik black;">لیست محصولات ثبت‌شده</h4>
                      </div>
                      <div class="panel-body wt-panel-body m-b30">
                        <div class="twm-D_table table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th style="font-family: rubik black;">کد محصول</th>
                                <th style="font-family: rubik black;">نام محصول</th>
                                <th style="font-family: rubik black;">وزن (کیلوگرم)</th>
                                <th style="font-family: rubik black;">قیمت (تومان)</th>
                                <th style="font-family: rubik black;">عملیات</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for product in products %}
                                <tr id="product-row-{{ product.id }}">
                                  <td>{{ product.support_code }}</td>
                                  <td>{{ product.product_name }}</td>
                                  <td>{{ product.weight }}</td>
                                  <td>{{ product.price }}</td>
                                  <td>
                                    <button
                                      class="s-sm edit-btn"
                                      style="border: none; background-color: #fff;"
                                      data-bs-toggle="modal"
                                      data-bs-target="#edit-product-popup-{{ product.id }}"
                                    >
                                      <i class="fas fa-edit" style="color: blue;"></i>
                                    </button>
                                    <button
                                      class="site-button-sm red delete-btn"
                                      style="border: none; background-color: #fff;"
                                      data-product-id="{{ product.id }}"
                                    >
                                      <i class="fas fa-trash-alt" style="color: blue;"></i>
                                    </button>
                                  </td>
                                </tr>
                              {% empty %}
                                <tr>
                                  <td colspan="5" class="text-center">هیچ محصولی ثبت نشده است.</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Product Modals -->
      {% for product in products %}
        <div
          class="modal fade"
          id="edit-product-popup-{{ product.id }}"
          tabindex="-1"
          aria-labelledby="edit-product-popupLabel-{{ product.id }}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="edit-product-popupLabel-{{ product.id }}">ویرایش محصول</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="edit-form" data-product-id="{{ product.id }}" id="edit-form-{{ product.id }}">
                  <div class="mb-3">
                    <label for="product-name-{{ product.id }}" class="form-label">نام محصول</label>
                    <input
                      type="text"
                      class="form-control"
                      id="product-name-{{ product.id }}"
                      name="product_name"
                      value="{{ product.product_name }}"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="product-weight-{{ product.id }}" class="form-label">وزن (کیلوگرم)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="product-weight-{{ product.id }}"
                      name="weight"
                      value="{{ product.weight }}"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="product-price-{{ product.id }}" class="form-label">قیمت (تومان)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="product-price-{{ product.id }}"
                      name="price"
                      value="{{ product.price }}"
                      required
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                <button type="submit" class="btn btn-primary" form="edit-form-{{ product.id }}">ذخیره تغییرات</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Footer Section -->
      <footer id="footer" class="footer-light">
        <div class="container">
          <!-- Newsletter subscription form -->
          <div class="ftr-nw-content">
            <div class="row">
              <div class="col-md-5">
                <div class="ftr-nw-title" style="font-family: IRANSansWeb;">
                  با جستجو میتوانید سریعتر به اهداف خود در سایت دسترسی پیدا کنید....
                </div>
              </div>
              <div class="col-md-7">
                <form>
                  <div class="ftr-nw-form">
                    <input name="news-letter" class="form-control" placeholder="همین حالا جستجو کنید..." type="text" />
                    <button class="ftr-nw-subcribe-btn">پیداش کن!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Footer navigation links -->
          <div class="footer-top">
            <div class="row">
              <!-- Company info -->
              <div class="col-lg-3 col-md-12">
                <div class="widget widget_about">
                  <div class="logo-footer clearfix">
                    <a href="index.html"><img src="{% static 'Static Home/images/Logo Two.png' %}" alt="Migobazar Logo" /></a>
                  </div>
                  <p>سایت میگوبازار توسط تیمی متشکل از پنج دانش آموز مدرسه ی زنده یاد کردی برازجان تهیه شده است</p>
                  <ul class="ftr-list">
                    <li><p><span>آدرس:</span>برازجان،فرمانداری،خیابان نبوت</p></li>
                    <li><p><span>ایمیل:</span>meigobazar@gmail.com</p></li>
                    <li><p><span>شماره تلفن:</span>09301660591</p></li>
                  </ul>
                </div>
              </div>

              <!-- Footer columns -->
              <div class="col-lg-9 col-md-12">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services ftr-list-center">
                      <h3 class="widget-title">صفحه اصلی</h3>
                      <ul>
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li><a href="{% url 'home' %}#karbaran">کاربران</a></li>
                        <li><a href="{% url 'home' %}#vigegi">ویژگی ها</a></li>
                        <li><a href="{% url 'home' %}#mazaia">مزایای سامانه</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services ftr-list-center">
                      <h3 class="widget-title">بقیه صفحات</h3>
                      <ul>
                        <li><a href="">درباره ما</a></li>
                        <li><a href="{% url 'product' %}">محصولات</a></li>
                        <li><a href="{% url 'company' %}">شرکت های فعال</a></li>
                        <li><a href="">پرسش و پاسخ</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services ftr-list-center">
                      <h3 class="widget-title">کاربران سامانه</h3>
                      <ul>
                        <li><a>شرکت پرورش میگو</a></li>
                        <li><a>شرکت صادر کننده میگو</a></li>
                        <li><a>خریداران میگو</a></li>
                        <li><a>رانندگان</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_services ftr-list-center">
                      <h3 class="widget-title">سازندگان</h3>
                      <ul>
                        <li><a>امیر حسین غلامی</a></li>
                        <li><a>ارشاد مزارعی نژاد</a></li>
                        <li><a>حسن نظامات</a></li>
                        <li><a>علی ظرافت</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Copyright notice -->
          <div class="footer-bottom">
            <div class="footer-bottom-info">
              <div class="footer-copy-right">
                <span class="copyrights-text">تمامی حقوق این اثر متعلق به تیم سازنده ی آن است © 2025 ...</span>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- Scroll to top button -->
      <button class="scroltop"><span class="fa fa-angle-up relative" id="btn-vibrate"></span></button>

      <!-- Login/Signup Modal -->
      <div class="modal fade twm-sign-up" id="sign_up_popup" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form style="height: 400px;">
              <div class="modal-header">
                <h2 class="modal-title">خوش اومدی...</h2>
                <p>اگر حساب نداری ثبت نام کن و در غیر اینصورت وارد حسابت شو...</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="col-md-12">
                <button type="button" class="site-button" onclick="window.location.href='Registertion/index.html'">ثبت نام</button>
                <br />
                <button type="button" class="site-button" onclick="window.location.href='login.html'">ورود</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Files -->
    <script src="{% static 'Static Home/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'Static Home/js/popper.min.js' %}"></script>
    <script src="{% static 'Static Home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Static Home/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'Static Home/js/waypoints.min.js' %}"></script>
    <script src="{% static 'Static Home/js/counterup.min.js' %}"></script>
    <script src="{% static 'Static Home/js/waypoints-sticky.min.js' %}"></script>
    <script src="{% static 'Static Home/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'Static Home/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'Static Home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Static Home/js/theia-sticky-sidebar.js' %}"></script>
    <script src="{% static 'Static Home/js/lc_lightbox.lite.js' %}"></script>
    <script src="{% static 'Static Home/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'Static Home/js/dropzone.js' %}"></script>
    <script src="{% static 'Static Home/js/jquery.scrollbar.js' %}"></script>
    <script src="{% static 'Static Home/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'Static Home/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Static Home/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'Static Home/js/chart.js' %}"></script>
    <script src="{% static 'Static Home/js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'Static Home/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'Static Home/js/custom.js' %}"></script>
    <script src="{% static 'Static Home/js/switcher.js' %}"></script>

    <!-- Inline Scripts -->
    <script>
      $(document).ready(function () {
        // Load saved company logo from localStorage
        const savedLogo = localStorage.getItem('companyLogo');
        if (savedLogo) {
          $("#logoPreviewSidebar").attr("src", savedLogo);
        }

        // Handle form submission via AJAX
        $('.edit-form').on('submit', function (e) {
          e.preventDefault();
          const productId = $(this).data('product-id');
          const formData = $(this).serialize();

          $.ajax({
            type: 'POST',
            url: `{% url 'shrimp_dashboard_edit_product' 0 %}`.replace('0', productId),
            data: {
              ...Object.fromEntries(new URLSearchParams(formData)),
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
              // Update table row
              $(`#product-row-${productId}`).find('td:eq(1)').text(response.product_name);
              $(`#product-row-${productId}`).find('td:eq(2)').text(response.weight);
              $(`#product-row-${productId}`).find('td:eq(3)').text(response.price);

              // Close modal
              $(`#edit-product-popup-${productId}`).modal('hide');

              alert('محصول با موفقیت ویرایش شد.');
            },
            error: function () {
              alert('خطا در ویرایش محصول.');
            }
          });
        });

        // Delete product
        $('.delete-btn').on('click', function () {
          const productId = $(this).data('product-id');
          if (confirm('آیا مطمئن هستید که می‌خواهید این محصول را حذف کنید؟')) {
            $.ajax({
              url: `{% url 'shrimp_dashboard_delete_product' 0 %}`.replace('0', productId),
              type: 'POST',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function () {
                $(`#product-row-${productId}`).remove();
                alert('محصول با موفقیت حذف شد.');
              },
              error: function () {
                alert('خطا در حذف محصول.');
              }
            });
          }
        });
      });
    </script>
  </body>
</html>